<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img src="/images/logo.png" class="img-fluid rounded-circle"
					alt="Responsive image" />
			</div>
		</div>

		<hr
			style="position: absolute; width: 85%; height: 6px; background-color: #333; z-index: -1; margin-top: -15px;" />
		<img class="img-fluid" alt="Responsive image" src="/images/wood.png"
			style="margin-top: 80px;" />

		<div class="row" style="margin-top: 60px;">
			<div
				class="col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3 col-xl-9 col-xl-offset-3">
				<!-- style="margin-left: 50px;" -->

				<!-- Nav Tabs -->
				<ul class="nav nav-tabs">
					<li class="nav-item"><a
						th:classappend="${classActiveNewAccount} ? 'active'"
						class="nav-link" href="#tab-1" data-toggle="tab"><span
							style="color: red;">Create new account</span></a></li>
					<li class="nav-item"><a
						th:classappend="${classActiveLogin} ? 'active'" class="nav-link"
						href="#tab-2" data-toggle="tab"><span style="color: red;">Log
								In</span></a></li>
					<li class="nav-item"><a
						th:classappend="${classActiveForgetPassword} ? 'active'"
						class="nav-link" href="#tab-3" data-toggle="tab"><span
							style="color: red;">Forget Password</span></a></li>
				</ul>
			</div>
		</div>

		<!-- Tab Panels -->
		<div class="tab-content">
			<!-- Create new User tab -->
			<div class="tab-pane fade" id="tab-1" role="tabpanel"
				th:classappend="${classActiveNewAccount} ? 'show active'">
				<div class="card" style="border: none;">
					<div class="card-body"
						style="background-color: #ededed; margin-top: 20px;">
						<div class="alert alert-info" th:if="${emailSent}">An email
							has been sent to the email address you just registered. Please
							validate your email address and update your password information.</div>
						<form th:action="@{/newUser}" method="post">
							<div class="form-group">
								<label for="newUsername">* Username: </label>&nbsp;<span
									style="color: red;" th:if="${userNameExists}">Username already
									exists. Choose a different one.</span> <input required="required"
									type="text" class="form-control" id="newUsername"
									name="username" />
								<p style="color: #828282">Enter your username here</p>
							</div>

							<div class="form-group">
								<label for="email">* Email Address: </label> <span
									style="color: red;" th:if="${emailExists}">Email already
									exists. Choose a different one.</span> <input
									required="required" type="text" class="form-control" id="email"
									name="email" />
								<p style="color: #828282">A valid email address. All emails
									from the system will be sent to this address. The email address
									is not made public and will only be use if you wish to receive
									a new password or wish to receive certain notification</p>
							</div>

							<button type="submit" class="btn btn-primary">Create new
								account</button>
						</form>
					</div>
				</div>
			</div>

			<!-- Log In -->
			<div class="tab-pane fade" id="tab-2" role="tabpanel"
				th:classappend="${classActiveLogin}? 'show active'">
				<div class="card" style="border: none;">
					<div class="card-body"
						style="background-color: #ededed; margin-top: 20px;">
						<div th:if="${param.error != null}" style="color:red;">Incorrect username or password</div>
						<form th:action="@{/login}" method="post">
							<div class="form-group">
								<label for="newUsername">* Username: </label> <input
									required="required" type="text" class="form-control"
									id="newUsername" name="username" />
								<p style="color: #828282">Enter your username here</p>
							</div>

							<div class="form-group">
								<label for="password">* Password: </label> <input
									required="required" type="password" class="form-control"
									id="password" name="password" />
								<p style="color: #828282">Enter the password that
									accompanies your username</p>
							</div>

							<button type="submit" class="btn btn-primary">Log In</button>
						</form>
					</div>
				</div>
			</div>

			<!-- Forget Password -->
			<div class="tab-pane fade" id="tab-3" role="tabpanel"
				th:classappend="${classActiveForgetPassword} ? 'show active'">
				<div class="card" style="border: none;">
					<div class="card-body"
						style="background-color: #ededed; margin-top: 20px;">
						<div th:if="${emailNotExist}" class="alert alert-danger"> Email doesn't exist.</div>
						<div th:if="${forgetPasswordEmailSent}" class="alert alert-success"> Email sent.</div>
						<form th:action="@{/forgetPassword}" method="post">
							<div class="form-group">
								<label for="recoverEmail">* Your Email: </label> <input
									required="required" type="text" class="form-control"
									id="recoverEmail" name="email" />
								<p style="color: #828282">Enter your registered email
									address here.</p>
							</div>

							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<br> <br>

	</div>
	<!-- end of container -->
<div th:replace="common/header :: footer" />
</body>
</html>