<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img src="/images/logo.png" class="img-fluid rounded-circle"
					alt="Responsive image" />
			</div>
		</div>

		<hr
			style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -15px;" />
		<img class="img-fluid" alt="Responsive image" src="/images/wood.png"
			style="margin-top: 80px;" />


		<div class="row" style="margin-top: 10px;">
			<div class="col-12">
				<div class="alert alert-success">
					<h3>
						<i class="fa fa-check" aria-hidden="true"
							style="color: limegreen;"></i> Thank you, your order has been
						placed
					</h3>

					<h4>
						The estimated delivery date is <span
							th:text="${estimatedDeliveryDate}"></span>
					</h4>

					<h3>List of Items:</h3>
					
					<div class="row" th:each="cartItem : ${cartItemList}">
						
						<div class="col-2"></div>
						<div class="col-10">
							<!--****** display products in cart ******-->
							<div class="row">
								<div class="col-12">
									<hr
										style="position: absolute; width: 96%; height: 2px; background-color: #333;" />
									<br>
									<div class="row" style="margin-top: 10px;">
										<div class="col-2">
											<a th:href="@{/bookDetail(id=${cartItem.book.id})}"> <img
												class="img-fluid shelf-book"
												th:src="#{adminPath} + @{/images/book/} + ${cartItem.book.id} + '.png'"
												style="width: 100px;" />
											</a>
										</div>
										
										<div class="col-6 text-center">
											<div class="center-block">
												<a th:href="@{/bookDetail(id=${cartItem.book.id})}" style="color: black;">
													<h5 th:text="${cartItem.book.title}"></h5>
												</a>
											</div>
										</div>

										<div class="col-2">
											<h5 style="color: #db3208; font-size: large;">
												$<span th:text="${cartItem.book.ourPrice}"
													th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : '' "></span>
											</h5>
										</div>

										<div class="col-2">
											<h5 th:text="${cartItem.qty}" style="font-size: large;"></h5>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- end of container -->
<div th:replace="common/header :: footer" />
</body>
</html>